[submodule "docker-glytoucan"]
	path = docker-glytoucan
	url = https://bitbucket.org/aokinobu/docker-glytoucan.git
[submodule "docker-glyspacesquid"]
	path = docker-glyspacesquid
	url = https://github.com/glytoucan/docker-glyspacesquid.git
[submodule "docker-rdf.glytoucan"]
	path = docker-rdf.glytoucan
	url = https://github.com/glytoucan/docker-rdf.glytoucan.git
[submodule "docker-stanza"]
	path = docker-stanza
	url = https://github.com/glytoucan/docker-stanza.git
[submodule "docker-virtuoso"]
	path = docker-virtuoso
	url = https://github.com/aokinobu/docker-virtuoso.git
[submodule "glytoucan-js-stanza"]
	path = glytoucan-js-stanza
	url = https://github.com/glytoucan/glytoucan-js-stanza.git
[submodule "docker-js-stanza"]
	path = docker-js-stanza
	url = https://github.com/glytoucan/docker-js-stanza.git
